@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fonte1: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --fonte2: "Montserrat", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte2);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-family: var(--fonte2);
    font-size: 3vh;
}

header > p {
    padding-top: 10px;
    padding-bottom: 30px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 50px;
    font-family: var(--fonte2);
    font-size: 1.5vh;
    text-align: center;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;

}

section.imagem {
    background-color: rgba(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.534);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.253);
    text-shadow: 1px 1px 0px black;
}

section#img001 {
    background-image: url('imagens/background003.jpg.jpeg');
    background-position: left center;

}

section#img002 {
    background-image: url('imagens/background004.jpg');
}



footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}


